* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair';
}

.gradeBackground {
    background-image: url('../images/background.svg');
}
.ownContainer {
    @include make-container(7%);
    // padding-bottom: 3%;
    background-color: $thirdColor;
}
.borderBottom {
    border-bottom: 7px solid $primaryColor;
}

.link {
    color: white;
    text-decoration: none;
    transition: $colorTransition;
    &:hover {
        color: $primaryColor;
    }
}
.actived {
    color: $primaryColor !important;
    text-decoration: none;
}
h1, h2, h3, h4, p {
    color: white;
}

.span--color {
    color: $primaryColor;
}

.hide {
    display: none;
}