* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gradeBackground {
    background-image: url('../images/background.svg');
}
.ownContainer {
    @include make-container(10%);
    padding-bottom: 3%;
    background-color: $thirdColor;
}
.borderBottom {
    border-bottom: 7px solid $primaryColor;
}

.link {
    color: white;
    text-decoration: none;
    transition: $colorTransition;
    &:hover {
        color: $primaryColor;
    }
}

h1, h2, h3, h4, p {
    color: white;
}

.span--color {
    color: $primaryColor;
}