.projects {
    border: $borderLine;
    padding: 15px 0 0 0;
    &__header {
        padding: 10px 10px 25px 10px;
        &--button {
            display: flex;
            align-items: center;
            position: relative;
            justify-content: flex-end;
            .eclipse1 {
                position: absolute;
                right: 162px;
            }
            .eclipse2 {
                position: absolute;
                right: 153px;
            }
            .eclipse__link {
                display: inline;
                z-index: 2;
                text-decoration: none;
                color: white;
                white-space: nowrap;
            }
        }
    }
    &__bottom {
        border-top: $borderLine;
        .bottom__list {
            margin: 0;
            padding: 0;
            &--item {
                list-style-type: none;
                border: $borderLine;
                padding: 50px 50px;
                transition: $colorTransition;
                position: relative;
                &:hover {
                    border-left: 10px solid $primaryColor;
                    background-color: rgba($color: #BDFF22, $alpha: 0.1);
                }
            }
            &--link {
                color: white;
                text-decoration: none;
                font-size: $normal-big;
                font-weight: bold;
            }
            &--img {
                width: 200px;
                position: absolute;
                top: -60px;
                right: 15%;
                display: none;
                rotate: -15deg;
                border: 1px solid $primaryColor;
                z-index: 2;
            }
        }
    }
}

// Responsividade 
@media only screen and (max-width: 520px) {
    .projects__header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .projects__header--button {
        justify-content: center;
        padding: 10px 0;
    }
}
@media only screen and (max-width: 767px) {
    .bottom__list--img {
        left: -10000px;
    }
}
@media only screen and (max-width: 460px) {
    .bottom__list--item {
        padding: 40px 35px !important;
        font-size: 1.6rem;
    }
}

// Animate aditional image 260x200px

.addIn {
    animation: deslocateIn 1.2s;
}
@keyframes deslocateIn {
    from {
        right: 0;
        opacity: 0;
    }
    to {
        right: 15%;
        opacity: 1;
    }
}