.showcase {
    margin: 40px 0;
    &__title {
        margin: 0 0 60px 0;
        font-size: 4.5rem;
        font-weight: bold;
        letter-spacing: 7px;
        width: 70%;
    }
    &__bottom {
        margin: 40px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--paragraph {
            font-size: $normal;
            width: 30%;
        }
        .draw {
            position: relative;
            &--text {
                position: absolute;
                z-index: 1;
                bottom: 47px;
                left: 47px;
                animation: spin 7s linear infinite;
            }
        }
    }
}

// Animação
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

//Responsividade
@media only screen and (max-width: 1306px) {
    .showcase {
        &__title {
            margin: 0 0 20px 0;
            font-size: 3.5rem;
        }
    }
}
@media only screen and (max-width: 967px) {
    .showcase {
        &__title {
            width: 80%;
            font-size: 3.2rem;
        }
        &__bottom {
            &--paragraph {
                width: 50%;
            }
        }
    }
}
@media only screen and (max-width: 846px) {
    .showcase {
        &__title {
            font-size: 2.8rem;
        }
    }
}
@media only screen and (max-width: 642px) {
    .showcase {
        &__title {
            width: 100%;
            text-align: center;
        }
    }
}
@media only screen and (max-width: 476px) {
    .draw {
        display: none;
    }
    .showcase {
        &__bottom {
            &--paragraph {
                width: 100%;
                font-size: 1.1rem;
                text-align: center;
            }
        }
    }
}
@media only screen and (max-width: 425px) {
    .showcase {
        &__title {
            font-size: 2.5rem;
        }
    }
}
@media only screen and (max-width: 350px) {
    .showcase {
        &__title {
            font-size: 2rem;
        }
    }
}