// Colors
$primaryColor: #BDFF00;
$secondaryColor: #797979;
$thirdColor: #222222;

// Fonts
@font-face {
    font-family: 'Playfair';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Playfair Italic';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf');
}

// Fonts Sizes
$small: 0.8rem;
$normal-small: 1rem;
$normal: 1.4rem;
$normal-big: 1.8rem;
$big: 2.2rem;

//Others 
$colorTransition: all 0.2s ease-in-out;
$borderLine: 1px solid rgba($color: #F2F2F2, $alpha: 0.1);

// Mixins 
@mixin make-container($padding-x) {
    width: 100%;
    padding-right: $padding-x;
    padding-left: $padding-x;
    margin-right: auto;
    margin-left: auto;
};
