@font-face {
  font-family: "Playfair";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Playfair Italic";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair";
}

.gradeBackground {
  background-image: url("../images/background.svg");
}

.ownContainer {
  width: 100%;
  padding-right: 7%;
  padding-left: 7%;
  margin-right: auto;
  margin-left: auto;
  background-color: #222222;
}

.borderBottom {
  border-bottom: 7px solid #BDFF00;
}

.link {
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.link:hover {
  color: #BDFF00;
}

.actived {
  color: #BDFF00 !important;
  text-decoration: none;
}

h1, h2, h3, h4, p {
  color: white;
}

.span--color {
  color: #BDFF00;
}

.hide {
  display: none;
}

.header {
  height: 70%;
}
.header__nav {
  margin: 20px 0 0 0;
  padding: 0 !important;
}
.header__nav--title {
  font-size: 2.2rem;
  margin: 0;
}
.header__nav .navbar-nav {
  padding: 10px 0;
}
.header__nav .navbar-nav .nav-item {
  margin: 7px 15px;
}

.selected-lang {
  padding: 5px 7px !important;
}
.selected-lang .flag_icon {
  width: 30px;
  padding-right: 5px;
}
.selected-lang:active {
  background-color: #BDFF00 !important;
  border-color: #BDFF00 !important;
}

.flag_button {
  display: flex !important;
  justify-content: space-between;
}
.flag_button .flag_icon--option {
  width: 20%;
}

@media only screen and (min-width: 992px) {
  .navbar-nav {
    align-items: center;
  }
  .dropdown-menu[data-bs-popper] {
    right: 0 !important;
    left: auto !important;
  }
  .header__nav {
    margin: 15px 0 0 0;
  }
}
.showcase {
  margin: 40px 0;
}
.showcase__title {
  margin: 0 0 60px 0;
  font-size: 4.5rem;
  font-weight: bold;
  letter-spacing: 7px;
  width: 70%;
}
.showcase__bottom {
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.showcase__bottom--paragraph {
  font-size: 1.4rem;
  width: 30%;
}
.showcase__bottom .draw {
  position: relative;
}
.showcase__bottom .draw--text {
  position: absolute;
  z-index: 1;
  bottom: 47px;
  left: 47px;
  animation: spin 7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 1306px) {
  .showcase__title {
    margin: 0 0 20px 0;
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 967px) {
  .showcase__title {
    width: 80%;
    font-size: 3.2rem;
  }
  .showcase__bottom--paragraph {
    width: 50%;
  }
}
@media only screen and (max-width: 846px) {
  .showcase__title {
    font-size: 2.8rem;
  }
}
@media only screen and (max-width: 642px) {
  .showcase__title {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 476px) {
  .draw {
    display: none;
  }
  .showcase__bottom--paragraph {
    width: 100%;
    font-size: 1.1rem;
    text-align: center;
  }
}
@media only screen and (max-width: 425px) {
  .showcase__title {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 350px) {
  .showcase__title {
    font-size: 2rem;
  }
}
.projects {
  border: 1px solid rgba(242, 242, 242, 0.1);
  padding: 15px 0 0 0;
}
.projects__header {
  padding: 10px 10px 25px 10px;
}
.projects__header--button {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
}
.projects__header--button .eclipse1 {
  position: absolute;
  right: 162px;
}
.projects__header--button .eclipse2 {
  position: absolute;
  right: 153px;
}
.projects__header--button .eclipse__link {
  display: inline;
  z-index: 2;
  text-decoration: none;
  color: white;
  white-space: nowrap;
}
.projects__bottom {
  border-top: 1px solid rgba(242, 242, 242, 0.1);
}
.projects__bottom .bottom__list {
  margin: 0;
  padding: 0;
}
.projects__bottom .bottom__list--item {
  list-style-type: none;
  border: 1px solid rgba(242, 242, 242, 0.1);
  padding: 50px 50px;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.projects__bottom .bottom__list--item:hover {
  border-left: 10px solid #BDFF00;
  background-color: rgba(189, 255, 34, 0.1);
}
.projects__bottom .bottom__list--link {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
}
.projects__bottom .bottom__list--img {
  width: 200px;
  position: absolute;
  top: -60px;
  right: 15%;
  display: none;
  rotate: -15deg;
  border: 1px solid #BDFF00;
  z-index: 2;
}

@media only screen and (max-width: 520px) {
  .projects__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projects__header--button {
    justify-content: center;
    padding: 10px 0;
  }
}
@media only screen and (max-width: 767px) {
  .bottom__list--img {
    left: -10000px;
  }
}
@media only screen and (max-width: 460px) {
  .bottom__list--item {
    padding: 40px 35px !important;
    font-size: 1.6rem;
  }
}
.addIn {
  animation: deslocateIn 1.2s;
}

@keyframes deslocateIn {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 15%;
    opacity: 1;
  }
}
.skills {
  border: 1px solid rgba(242, 242, 242, 0.1);
  border-top: none;
  border-bottom: none;
  padding: 20px 0;
}
.skills__header {
  padding: 0 20px;
}
.skills__header--info {
  margin-bottom: 10px;
}
.skills__header ul {
  padding-left: 1rem;
}
.skills__header ul li {
  list-style-type: none;
  color: white;
}
.skills__bottom {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.skills__bottom .responsive-iframe {
  width: 700px;
  height: 450px;
}

@media only screen and (max-width: 769px) {
  .skills__bottom {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }
  .skills__bottom .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}
@media only screen and (min-width: 1200px) {
  .responsive-iframe {
    width: 800px !important;
    height: 500px !important;
  }
}
.aboutMe__header {
  border: 1px solid rgba(242, 242, 242, 0.1);
  padding: 40px 30px;
}
.aboutMe__header p {
  margin: 0;
}
.aboutMe__bottom--cards {
  margin: 0 !important;
}
.aboutMe .cards__card {
  border: 1px solid rgba(242, 242, 242, 0.1);
  border-right: none;
  border-top: none;
  border-bottom: none;
  padding: 0 20px;
  position: relative;
}
.aboutMe .cards__card:last-child {
  border-right: 1px solid rgba(242, 242, 242, 0.1);
}
.aboutMe .cards__imgs {
  position: relative;
  padding: 45px 0 65px 0;
}
.aboutMe .cards__imgs img:first-child {
  display: block;
}
.aboutMe .cards__imgs img {
  position: absolute;
}
.aboutMe .cards__imgs .img__orange--second {
  left: 0px;
  top: 42px;
}
.aboutMe .cards__imgs .img__orange--third {
  left: 8px;
  top: 39px;
}
.aboutMe .cards__imgs .img__orange--fourth {
  left: 12px;
  top: 36px;
}
.aboutMe .cards__imgs .img__green--second {
  left: 3px;
  top: 43px;
}
.aboutMe .cards__imgs .img__green--third {
  left: 6px;
  top: 41px;
}
.aboutMe .cards__imgs .img__green--fourth {
  left: 9px;
  top: 39px;
}
.aboutMe .cards__imgs .img__blue--second {
  left: 3px;
  top: 43px;
}
.aboutMe .cards__imgs .img__blue--third {
  left: 6px;
  top: 41px;
}
.aboutMe .cards__imgs .img__blue--fourth {
  left: 9px;
  top: 39px;
}
.aboutMe .cards__imgs .img__pink--second {
  left: 3px;
  top: 43px;
}
.aboutMe .cards__imgs .img__pink--third {
  left: 6px;
  top: 41px;
}
.aboutMe .cards__imgs .img__pink--fourth {
  left: 9px;
  top: 39px;
}
.aboutMe .cards__title {
  font-size: 1.4rem;
}
.aboutMe .cards__paragraph {
  font-size: 0.8rem;
  padding-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .cards__card {
    border: 1px solid rgba(242, 242, 242, 0.1) !important;
  }
}
.footer {
  padding-bottom: 20px;
}
.footer__title {
  border: 1px solid rgba(242, 242, 242, 0.1);
  border-bottom: none;
}
.footer__title h2 {
  font-size: 450%;
  padding: 50px 10px;
  text-align: center;
  margin: 0;
  color: #797979;
}
.footer .row {
  margin: 0 !important;
}
.footer .footer__div {
  border: 1px solid rgba(242, 242, 242, 0.1);
  border-right: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px 0;
}
.footer .footer__div:last-child {
  border-right: 1px solid rgba(242, 242, 242, 0.1);
}
.footer .footer__div--contact {
  font-size: 1.4rem;
}
.footer .footer__div--email {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  padding-bottom: 10px;
}
.footer .footer__div--social {
  cursor: default;
}
.footer .footer__div--social a {
  text-decoration: none;
  color: #797979;
  font-size: 1.4rem;
  margin: 0 5px;
  transition: all 0.2s ease-in-out;
}
.footer .footer__div--social a:hover {
  color: #BDFF00;
}

@media only screen and (max-width: 900px) {
  .footer__div--contact {
    font-size: 1rem !important;
  }
  .footer__div--email {
    font-size: 0.8rem !important;
  }
}
@media only screen and (max-width: 700px) {
  .footer__div--email {
    font-size: 0.6rem !important;
  }
}
@media only screen and (max-width: 575px) {
  .footer__title h2 {
    font-size: 300%;
  }
  .footer__div {
    border-right: 1px solid rgba(242, 242, 242, 0.1) !important;
  }
  .footer__div--email {
    font-size: 0.8rem !important;
  }
}

/*# sourceMappingURL=style.css.map */
